---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Emmanuel | Portafolio Web">
  <section class="mt-14">
    <div class="md:flex md:gap-4 md:mt-8 lg:gap-1 justify-center items-center">
      <div class="mt-8 bg-slate-8000 rounded h-full md:basis-3/4">
        <div class="text-3xl md:text-4xl lg:text-5xl text-slate-200">
          <span class="text-green-400 font-bold">Ing.</span>
          <span class="font-bold">Emmanuel Santoyo Chagolla</span>
        </div>
        <p class="mt-4 text-slate-300 md:mt-5 md:text-lg lg:text-2xl lg:mt-10">
          Soy un desarrollador <span class="text-yellow-300">Frontend</span>
          y aprendiz de <span class="text-yellow-300">Backend</span>. Soy
          autodidacta y me gusta aprender cosas nuevas sobre tecnología y otras
          áreas.
        </p>
        <p class="mt-4 text-slate-300 md:mt-5 md:text-lg lg:text-2xl lg:mt-10">
          Siempre trato de ser mejor que ayer y aprender de todas las
          experiencias. Me gusta <span class="font-bold text-slate-100"
            >trabajar en equipo</span
          > y <span class="font-bold text-slate-100">aportar ideas</span> para mejorar
          el trabajo en conjunto.
        </p>
        <p class="mt-5 text-sky-300 text-sm md:text-base lg:mt-14 lg:text-xl">
          "La sabiduría es un círculo, lo que recibes debes devolverlo."
        </p>
      </div>
      <div class="mt-8 flex flex-col items-center md:basis-1/4 md:items-end">
        <div class="">
          <img
            src="/images/emmanuel-photo-3.png"
            alt=""
            class="rounded rounded-b-none h-96 object-cover"
          />
          <div class="bg-slate-800 rounded rounded-t-none flex">
            <div
              class="w-1/3 py-2 flex justify-center items-center lg:w-full lg:h-1/3"
            >
              <a
                href="https://www.linkedin.com/in/emmanuel-santoyo-chagolla-418245291?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B53CjPnE9QcqySNcAeowWyQ%3D%3D"
                target="_blank"
                class="hover:text-green-400 hover:transition-all transition-all hover:animate-spin"
              >
                <i class="fa-brands fa-linkedin text-2xl"></i>
              </a>
            </div>
            <div
              class="w-1/3 py-2 flex justify-center items-center lg:w-full lg:h-1/3"
            >
              <a
                href="https://github.com/EMMANUELSCH19"
                target="_blank"
                class="hover:text-green-400 hover:transition-all transition-all hover:animate-spin"
              >
                <i class="fa-brands fa-square-github text-2xl"></i>
              </a>
            </div>
            <div
              class="w-1/3 py-2 flex justify-center items-center lg:w-full lg:h-1/3"
            >
              <a
                href="https://www.linkedin.com/in/emmanuel-santoyo-chagolla-418245291?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B53CjPnE9QcqySNcAeowWyQ%3D%3D"
                target="_blank"
                class="hover:text-green-400 hover:transition-all transition-all hover:animate-spin"
              >
                <i class="fa-solid fa-envelope text-2xl"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-20">
    <div class="text-4xl font-bold text-center">Proyectos</div>
    <div class="mt-8">
      <div class="flex flex-col md:flex-row justify-center gap-10">
        <!-- First project -->
        <article class="basis-full md:basis-1/2 lg:basis-1/3 bg-slate-800 rounded flex flex-col">
          <div class="relative">
            <video
              src="/projects/player-quarry/video.mp4"
              poster="/projects/player-quarry/poster.jpg"
              autoplay
              loop
              muted
              playsinline
              preload="metadata"
              title="Reproductor de Música"
              class="rounded object-cover w-full max-h-56"></video>
            <div
              class="bg-black bg-opacity-70 absolute inset-0 flex flex-col gap-2 items-center justify-center opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
            >
              <button
                class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded"
                >Ver detalle</button
              >
            </div>
          </div>
          <div class="px-4 py-6">
            <a href="#" class="text-2xl font-bold text-green-400"
              >Reproductor de Música</a
            >
            <p class="mt-2 text-sm leading-5">
              Aplicación web para escuchar música. Funcionalidades que incluyen
              la reproducción de música, subir canciones, crear playlist y más.
            </p>
            <div class="mt-4 flex flex-wrap gap-3">
              <div class="bg-orange-600 rounded p-0.5 px-1 font-bold text-xs">
                HTML
              </div>
              <div class="bg-blue-600 rounded p-0.5 px-1 font-bold text-xs">
                CSS
              </div>
              <div class="bg-yellow-600 rounded p-0.5 px-1 font-bold text-xs">
                Javascript
              </div>
              <div class="bg-blue-600 rounded p-0.5 px-1 font-bold text-xs">
                PHP
              </div>
              <div class="bg-red-600 rounded p-0.5 px-1 font-bold text-xs">
                Laravel
              </div>
              <div class="bg-purple-600 rounded p-0.5 px-1 font-bold text-xs">
                Bootstrap
              </div>
            </div>
          </div>
        </article>
        <!-- Second project -->
        <article class="basis-full md:basis-1/2 lg:basis-1/3 bg-slate-800 rounded flex flex-col">
          <div class="relative">
            <video
              src="/projects/landing-exa/video.mp4"
              poster="/projects/landing-exa/poster.jpg"
              autoplay
              loop
              muted
              playsinline
              preload="metadata"
              title="Reproductor de Música"
              class="rounded object-cover w-full max-h-56"></video>
            <div
              class="bg-black bg-opacity-70 absolute inset-0 flex flex-col gap-2 items-center justify-center opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
            >
              <button
                class="bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded"
                >Ver detalle</button
              >
            </div>
          </div>
          <div class="px-4 py-6">
            <a href="#" class="text-2xl font-bold text-green-400"
              >Landing Page</a
            >
            <p class="mt-2 text-sm leading-5">
              Página web de promocion de eventos. Incluye formulario,
              animaciones, y más.
            </p>
            <div class="mt-4 flex flex-wrap gap-3">
              <div class="bg-orange-600 rounded p-0.5 px-1 font-bold text-xs">
                HTML
              </div>
              <div class="bg-blue-600 rounded p-0.5 px-1 font-bold text-xs">
                CSS
              </div>
              <div class="bg-yellow-600 rounded p-0.5 px-1 font-bold text-xs">
                Javascript
              </div>
              <div class="bg-purple-600 rounded p-0.5 px-1 font-bold text-xs">
                Bootstrap
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="mt-20">
    <div class="flex flex-col gap-10 lg:flex-row">
      <div class="lg:w-1/2">
        <div class="text-4xl font-bold text-center">Hard Skills</div>
        <div class="mt-8 overflow-y-auto max-h-96 pe-2">
          <div class="grid grid-cols-1 gap-4 text-center md:text-start">
            <article class="bg-slate-800 rounded px-4 py-3">
              <div class="text-2xl font-bold text-orange-400">HTML 5</div>
              <div class="mt-2 text-sm leading-5">
                Creación de estructura y contenido de una página web.
              </div>
            </article>
            <article class="bg-slate-800 rounded px-6 py-3">
              <div class="text-2xl font-bold text-blue-400">CSS 3</div>
              <div class="mt-2 text-sm leading-5">
                Creación de estilos y diseño de una página web.
              </div>
            </article>
            <article class="bg-slate-800 rounded px-6 py-3">
              <div class="text-2xl font-bold text-yellow-400">Javascript</div>
              <div class="mt-2 text-sm leading-5">
                Agregar interactividad y dinamismo a una página web.
              </div>
            </article>
            <article class="bg-slate-800 rounded px-6 py-3">
              <div class="text-2xl font-bold text-blue-400">PHP</div>
              <div class="mt-2 text-sm leading-5">
                Creación de páginas web dinámicas y manejo de base de datos.
              </div>
            </article>
            <article class="bg-slate-800 rounded px-6 py-3">
              <div class="text-2xl font-bold text-red-400">Laravel</div>
              <div class="mt-2 text-sm leading-5">
                Creación de aplicaciones web con el framework Laravel.
              </div>
            </article>
            <article class="bg-slate-800 rounded px-6 py-3">
              <div class="text-2xl font-bold text-pink-400">Livewire</div>
              <div class="mt-2 text-sm leading-5">
                Agrega interactividad a una aplicación web de Laravel.
              </div>
            </article>
            <article class="bg-slate-800 rounded px-6 py-3">
              <div class="text-2xl font-bold text-purple-400">Astro</div>
              <div class="mt-2 text-sm leading-5">
                Paginas web estáticas y dinamicas con componentes reutilizables
                y un rendimiento increíble.
              </div>
            </article>
            <article class="bg-slate-800 rounded px-6 py-3">
              <div class="text-2xl font-bold text-blue-400">Tailwind</div>
              <div class="mt-2 text-sm leading-5">
                Creación de páginas web responsivas y con estilos predefinidos
                basados en utilidades.
              </div>
            </article>
            <article class="bg-slate-800 rounded px-6 py-3">
              <div class="text-2xl font-bold text-purple-400">Bootstrap</div>
              <div class="mt-2 text-sm leading-5">
                Creación de páginas web responsivas y con estilos predefinidos
                basados en componentes.
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2">
        <div class="text-4xl font-bold text-center">Soft Skills</div>
        <div class="mt-8 overflow-y-auto max-h-96 pe-2">
          <div class="grid grid-cols-1 gap-4 text-center md:text-start">
            <article>
              <div class="bg-slate-800 rounded px-6 py-3">
                <div class="text-2xl font-bold text-white">
                  Trabajo en equipo
                </div>
                <div class="mt-2 text-sm leading-5">
                  Interacción con otras personas para lograr un objetivo en
                  común.
                </div>
              </div>
            </article>
            <article>
              <div class="bg-slate-800 rounded px-6 py-3">
                <div class="text-2xl font-bold text-white">Comunicación</div>
                <div class="mt-2 text-sm leading-5">
                  Uso de palabras y lenguaje corporal para expresar ideas y ser
                  entendido.
                </div>
              </div>
            </article>
            <article>
              <div class="bg-slate-800 rounded px-6 py-3">
                <div class="text-2xl font-bold text-white">Proactividad</div>
                <div class="mt-2 text-sm leading-5">
                  Anticiparse a los problemas y buscar soluciones antes de que
                  se presenten.
                </div>
              </div>
            </article>
            <article>
              <div class="bg-slate-800 rounded px-6 py-3">
                <div class="text-2xl font-bold text-white">Creatividad</div>
                <div class="mt-2 text-sm leading-5">
                  Generar ideas nuevas y originales para resolver problemas,
                  mejorar procesos y crear productos.
                </div>
              </div>
            </article>
            <article>
              <div class="bg-slate-800 rounded px-6 py-3">
                <div class="text-2xl font-bold text-white">
                  Resolución de problemas
                </div>
                <div class="mt-2 text-sm leading-5">
                  Encontrar soluciones a los problemas que se presenten.
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-20">
    <div class="text-4xl font-bold text-center">Experiencia</div>
    <div class="mt-8">
      <div class="grid grid-cols-1 lg:grid-cols-3 lg:gap-x-8">
        <div class="flex flex-col items-center mt-4 lg:mt-4">
          <div class="h-6 w-6 bg-slate-400 rounded-full"></div>
          <div class="flex-1 border-r-2 border-gray-500"></div>
          <div class="text-slate-400 text-center mt-2">2020</div>
          <div class="text-slate-400 text-center">
            CBT No.2 Lic. Carlos Pichardo Tecámac
          </div>
          <div class="text-white text-center text-lg font-bold">
            Técnico en Informática
          </div>
        </div>
        <div class="flex flex-col items-center mt-10 lg:mt-4">
          <div class="h-6 w-6 bg-slate-400 rounded-full"></div>
          <div class="flex-1 border-r-2 border-gray-500"></div>
          <div class="text-slate-400 text-center mt-2">2021</div>
          <div class="text-slate-400 text-cente">
            Universidad Politécnica de Tecámac
          </div>
          <div class="text-white text-center text-lg font-bold">
            Ingeniería en Software
          </div>
        </div>
        <div class="flex flex-col items-center mt-10 lg:mt-4">
          <div class="h-6 w-6 bg-slate-400 rounded-full"></div>
          <div class="text-gray-400 text-center mt-2">2023</div>
          <div class="text-slate-400 text-center">Dratenz SS S.A de C.V</div>
          <div class="text-white text-center text-lg font-bold">
            Desarrollador Frontend
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="mt-20">
    <div class="text-4xl font-bold text-center">Certificaciones</div>
    <div class="mt-8">
      <div class="flex flex-col gap-10 lg:flex-row">
        <div class="lg:w-3/5 rounded">
          <div class="flex justify-center items-center lg:">
            <img
              src="https://www.modelodecartas.com.br/wp-content/uploads/2019/10/modelodecartas-curso-5.jpg"
              alt=""
              class="rounded object-cover lg:h-96"
            />
            <img src="https://th.bing.com/th/id/R.1bc2ae96198f8a038a8ee651c29680a3?rik=NOAJr4QSzfb57g&pid=ImgRaw&r=0" alt="" class="rounded rounded-e-none h-96 object-cover" />
          </div>
        </div>
        <div
          class="lg:w-2/5 bg-slate-800 rounded flex justify-center items-center"
        >
          <div class="w-full overflow-y-auto h-64 lg:h-96">
            <div class="grid gap-4 px-4 py-4">
              <div
                class="bg-slate-700 text-green-400 rounded font-bold text-2xl px-2 py-1"
              >
                Certificación 1
              </div>
              <div class="text-white font-bold">Certificación 2</div>
              <div class="text-white font-bold">Certificación 3</div>
              <div class="text-white font-bold">Certificación 4</div>
              <div class="text-white font-bold">Certificación 5</div>
              <div class="text-white font-bold">Certificación 6</div>
              <div class="text-white font-bold">Certificación 7</div>
              <div class="text-white font-bold">Certificación 8</div>
              <div class="text-white font-bold">Certificación 9</div>
              <div class="text-white font-bold">Certificación 10</div>
              <div class="text-white font-bold">Certificación 11</div>
              <div class="text-white font-bold">Certificación 12</div>
              <div class="text-white font-bold">Certificación 13</div>
              <div class="text-white font-bold">Certificación 14</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</Layout>
